<section class="carousel slide cid-s6Gp8vgGho" data-interval="false" >
  <div class="full-screen">
      <div class="mbr-slider slide carousel" data-keyboard="false" data-ride="false" data-interval="false" data-pause="false">
          <div class="carousel-inner" role="listbox">
              <div class="carousel-item slider-fullscreen-image active" data-bg-video-slide="false" style="background-image: url(https://i.pinimg.com/originals/af/50/7b/af507b2d765e02c2aae45f8b015daeee.jpg)">
                  <div class="container container-slide">
                      <div class="image_wrapper">
                          <div class="mbr-overlay"></div>
                          <img src="assets/images/background1.jpg" alt="" title="" />
                          <div class="carousel-caption justify-content-center">
                              <div class="col-10 align-center">
                                  <h3 class="mbr-fonts-style display-2">Strangers think I’m quiet, my friends think I’m outgoing, but my best friends know that I’m completely insane.!!</h3>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>


      </div>
  </div>
  <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
      <a href="#next">
          <i class="mbri-down mbr-iconfont"></i>
      </a>
  </div>
</section>
